@model YehudaWebDev.Models.Airlines

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Airlines</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AirlineName" class="control-label"></label>
                <input asp-for="AirlineName" class="form-control" />
                <span asp-validation-for="AirlineName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirlineCountry" class="control-label"></label>
                <input asp-for="AirlineCountry" class="form-control" />
                <span asp-validation-for="AirlineCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPlanes" class="control-label"></label>
                <input asp-for="NumberOfPlanes" class="form-control" />
                <span asp-validation-for="NumberOfPlanes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfWorkers" class="control-label"></label>
                <input asp-for="NumberOfWorkers" class="form-control" />
                <span asp-validation-for="NumberOfWorkers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearlyTravelerNumber" class="control-label"></label>
                <input asp-for="YearlyTravelerNumber" class="form-control" />
                <span asp-validation-for="YearlyTravelerNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfEstablishment" class="control-label"></label>
                <input asp-for="YearOfEstablishment" class="form-control" />
                <span asp-validation-for="YearOfEstablishment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
